@model IEnumerable<CorporateBankingApp.DTOs.BeneficiaryReportDTO>

@{
    ViewBag.Title = "Beneficiary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beneficiary Report</h2>

<
<table class="table">
    <thead>
        <tr>

            <th>Beneficiary Name</th>
            <th>Account Number</th>
            <th>Bank IFSC</th>
            <th>Beneficiary Status</th>
            <th>Payment Amount</th>
            <th>Payment Request Date</th>
            <th>Payment Approval Date</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
        <

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankIFSC)
                </td>
                <td>
                <td>@item.BeneficiaryStatus.ToString()</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                @*<td>
                                @Html.DisplayFor(modelItem => item.PaymentRequestDate)
                    </td>
                    <td>
                                @Html.DisplayFor(modelItem => item.PaymentApprovalDate)
                    </td>*@
                <td>@item.PaymentRequestDate?.ToString("dd/MM/yyyy")</td>
                <td>@item.PaymentApprovalDate?.ToString("dd/MM/yyyy")</td>
                <td>@item.PaymentStatus?.ToString()</td>

            </tr>
        }
    </tbody>

</table>