@model IEnumerable<CorporateBankingApp.DTOs.ClientReportDTO>

@{
    ViewBag.Title = "Client List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a Client</h2>

<table class="table">
    <thead>
        <tr>
            <th>Client Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.CompanyName</td>
                <td>
                    <a href="@Url.Action("EmployeeReportByClient", "Report", new { clientId = client.Id })" class="btn btn-primary">View Employees</a>
                </td>
                <td>
                    <a href="@Url.Action("BeneficiaryReport", "Report", new { clientId = client.Id })">View Beneficiaries</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation" class="py-3 px-2">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="@(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("ClientList", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
            </li>
        }
    </ul>
</nav>
