@model CorporateBankingApp.Models.Employee

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="card mt-5">
            <div class="card-body px-5">
                <div class="form-horizontal">
                    <h2 class="text-center my-4 pt-3 primar">Add New Employee</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label mb-2 ms-2" })
                        <span class="required-asterisk">*</span>
                        <div>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control mb-4", id = "firstName" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label mb-2 ms-2" })
                        <span class="required-asterisk">*</span>
                        <div>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control mb-4", id = "lastName" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label mb-2 ms-2" })
                        <span class="required-asterisk">*</span>
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-4", id = "email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label mb-2 ms-2" })
                        <span class="required-asterisk">*</span>
                        <div>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control mb-4", id = "phone" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label mb-2 ms-2" })
                        <span class="required-asterisk">*</span>
                        <div>
                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control mb-4", id = "designation" } })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label mb-2 ms-2" })
                        <span class="required-asterisk">*</span>
                        <div>
                            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control mb-4", id = "salary" } })
                            @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-between mt-4">
                        <input type="button" value="Add Employee" class="btn primary-bg text-white" onclick="addNewEmployee()" />
                        <input type="button" value="Go Back" class="btn btn-secondary" onclick="goBack()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function goBack() {
        window.location.href = '@Url.Action("ManageEmployees", "Client")'; // Adjust as needed
    }
</script>
