@model IEnumerable<CorporateBankingApp.Models.Beneficiary>

@{
    ViewBag.Title = "InboundBeneficiaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inbound Beneficiaries</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeneficiaryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankIFSC)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankIFSC)
            </td>


        </tr>
    }

</table>