@model CorporateBankingApp.DTOs.BeneficiaryDTO

@{
    ViewBag.Title = "ManageBeneficiaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="beneficiaryList">
    <h2 class="text-center my-4 pt-3  primary-text">List of Beneficiaries</h2>
    <button type="button" class="btn primary-bg text-white" id="btnAddBeneficiary">
        Add New Beneficiary
    </button>
    <div class="table-responsive">

        <div class="my-4 float-start w-75">
            <input type="text" id="searchInput" placeholder="Search users..." class="form-control" onkeyup="searchUsers()" />
        </div>
        <div class="dropdown my-4 float-end">
            <button class="btn rounded-3 wrapper" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-filter me-1"></i>
                <span>Filter</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" onclick="filterAll()">All</a></li>
                <li><a class="dropdown-item" onclick="filterByStatus('PENDING')">Pending</a></li>
                <li><a class="dropdown-item" onclick="filterByStatus('APPROVED')">Approved</a></li>
                <li><a class="dropdown-item" onclick="filterByStatus('REJECTED')">Rejected</a></li>

            </ul>
        </div>
        <table class="table align-middle accent-dark-b mb-0">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BeneficiaryName)</th>
                    <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.BankIFSC)</th>
                    <th>@Html.DisplayNameFor(model => model.BeneficiaryStatus)</th>
                    <th>@Html.DisplayNameFor(model => model.BeneficiaryType)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Documents</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="beneficiaryTblBody"></tbody>
        </table>

        <nav aria-label="Page navigation" class="py-3 px-2" >
            <ul class="pagination" id="beneficiaryPagination"></ul>
        </nav>
    </div>
</div>

<!-- Document Modal Structure -->
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h5 class="modal-title" id="documentModalLabel">Beneficiary Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="documentFrame" src="" class="w-100" scrolling="yes" />
            </div>
        </div>
    </div>
</div>

<div id="addNewBeneficiary" style="display:none" class="container">
    @Html.Partial("_AddBeneficiaryPartial")
</div>
<div id="editBeneficiary" style="display:none" class="container">
    @Html.Partial("_EditBeneficiaryPartial")
</div>

<script src="~/Scripts/crudForOutBound.js"></script>
<script>
    $(document).ready(() => {
        loadOutboundBeneficiaries();
    });

    $("#btnAddBeneficiary").click(function () {
        $("#beneficiaryList").hide();
        $("#addNewBeneficiary").show();
    });

    $("#beneficiaryTblBody").on("change", ".toggle", function () {
        var beneficiaryId = $(this).data("beneficiaryid");
        var isActive = $(this).is(":checked");
        updateBeneficiaryStatus(beneficiaryId, isActive);
    });
</script>