@model IEnumerable<CorporateBankingApp.Models.Employee>

@{
    ViewBag.Title = "Manage Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4" id="employeeList">

    <h3 class="my-4">Manage Employees</h3>

    <div class="mb-3">
        <button type="button" , class="btn btn-primary" id="btnAdd" data-bs-toggle="modal" data-bs-target="#createEmployeeModal">
            <i class="bi bi-plus-circle"></i> Add New Employee
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Designation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="employeeTable">
                @*data will be coming from ajax*@
            </tbody>
        </table>
    </div>
</div>

<div id="newRecord" style="display:none" class="container">
    @Html.Partial("_AddRecordPartial")
</div>

<div id="editRecord" style="display:none" class="container">
    @Html.Partial("_EditRecordPartial")
</div>

<script src="~/Scripts/crudOnEmployee.js"></script>
<script>
    $(document).ready(() => {
        loadEmployees();
    })
</script>

