@model IEnumerable<CorporateBankingApp.DTOs.ClientDTO>
@using CorporateBankingApp.Enums

@{
    ViewBag.Title = "ViewAllInboundBeneficiaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container pt-5" id="inboundBeneficiaryList">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="error-message">
                @TempData["ErrorMessage"]
            </div>
        }

        <h2 class="text-center my-4 pt-3">List Of Inbound Beneficiaries</h2>

        <!-- Search input field for company name -->
        <div class="form-group mb-5">
            <input type="text" id="searchCompany" class="form-control" placeholder="Search by Beneficiary Name..." />
        </div>

        <div class="mb-4">
            <button id="addInboundSelected" class="btn primary-bg text-white">Add Beneficiary</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClientIFSC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneficiaryStatus)
                    </th>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="selectAllInbounds" />
                            <label class="form-check-label" for="selectAllInbounds">@Html.DisplayName("Select")</label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="inboundBeneficiaryTblBody">
                <!-- Data comes from AJAX -->
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/beneficiaryInboundList.js"></script>
<script>
    $(document).ready(() => {
        loadInboundBeneficiaries();

        $('#searchCompany').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('#inboundBeneficiaryTblBody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });
    });
</script>
